body {
    background: #101828;
    background-image:
        linear-gradient(#8F0D48 1px, transparent 1px),
        linear-gradient(90deg, #420439 1px, transparent 1px);
    background-size: 32px 32px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.featured-carousel {
    max-width: 2000px;
    margin: 60px auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    height: 400px;
}

.carousel-mask {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    
    width: 100%;
    height: 100%;

    backdrop-filter: none;
    -webkit-backdrop-filter: none;

    border: 4px solid #8F0D48;
    border-radius: 8px;
    
    background:
        radial-gradient(circle at top, #1e293b 0%, #0f172a 70%);

    box-shadow:
        6px 6px 0 #000,
        0 0 18px #420439,
        inset 0 0 25px rgba(143, 13, 72, 0.35);
}

.carousel-mask::before {
    position: absolute;
    inset: 0;
    
    background:
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,0.03) 0px,
            rgba(255,255,255,0.03) 1px,
            transparent 2px,
            transparent 4px
        );

    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 3px;

    color: rgba(0, 255, 140, 0.12);

    white-space: pre-wrap;
    word-break: break-all;

    padding: 20px;

    animation: hackerScroll 18s linear infinite;

    pointer-events: none;
    z-index: 0;
}

.row-layer {
    display: flex;
    align-items: center;
    
    gap: 20px;
    height: 100%;
    
    position: relative;
    z-index: 2;
    
    transform: translateX(-220px);
}

@keyframes hackerScroll {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-120px);
    }
}

/* cards */
.slot {
    background: #334155;
    border: 4px solid #8F0D48;
    border-radius: 8px;
    background: linear-gradient(180deg, #444, #222);
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    box-shadow: 6px 6px 0 #420439;
    overflow: hidden;
    flex-shrink: 0;
    transition:
        width 0.55s ease-in-out,
        height 0.55s ease-in-out,
        opacity 0.55s ease-in-out,
        transform 0.35s ease,
        box-shadow 0.35s ease;
    position: relative;
    cursor: pointer;
    height: 500px;
}

.slot:hover {
    transform: translate(-3px, -3px) scale(1.03);
    box-shadow: 9px 9px 0 #37042f;
    z-index: 20;
}

/* normal resting layout */
.slot.small {
    width: 160px;
    height: 260px;
    opacity: 0.72;
}

.slot.large {
    width: 220px;
    height: 360px;
    opacity: 1;
}

.slot.center {
    width: 220px;
    height: 360px;
    opacity: 1;
}

.slot.buffer {
    width: 160px;
    height: 260px;
    opacity: 0.15;
    pointer-events: none;
    flex-shrink: 0;
}

/* phase 1: flatten all cards to same size */
.row-layer.uniform .slot {
    width: 200px;
    height: 300px;
    opacity: 0.9;
}

/* row movement */
.row-layer.sliding-next {
    transform: translateX(-440px);
    transition: transform .90s ease;
}

.row-layer.sliding-prev {
    transform: translateX(-10px);
    transition: transform .90s ease;
}

.row-layer.grow-center {
    transform: translateX(-220px);
    transition: transform 0.45s ease;
}

.row-layer.no-transition {
    transition: transform 0s !important;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-overlay {
    position: absolute;
    left: 50%;
    bottom: 18px;
    transform: translateX(-50%) translateY(10px);
    width: 80%;
    padding: 12px 14px;
    box-sizing: border-box;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 3px;
    box-shadow: 0 2px 6px #420439;

    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}

.slot:hover .card-overlay {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.card-overlay h3 {
    margin: 0 0 6px;
    font-size: 16px;
    color: black;
}

.card-overlay p {
    margin: 0;
    font-size: 13px;
    color: black;
}

.nav {
    background: #420439;
    color: white;
    font-size: 30px;
    width: 25px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}

.nav:hover {
    background: #420439;
}

@media (max-width: 768px) {
    .nav {
        position: relative;
        z-index: 50;
        pointer-events: auto;
    }

    .carousel-mask {
        width: calc(100% - 90px);
        overflow: hidden;
    }

    .row-layer {
        transform: translateX(0);
        transition: transform 0.3s ease;
        justify-content: center;
        gap: 12px;
    }

    .row-layer.sliding-next {
        transform: translateX(-122px);
        transition: transform 0.45s ease;
    }

    .row-layer.sliding-prev {
        transform: translateX(122px);
        transition: transform 0.45s ease;
    }

    .row-layer.uniform .slot {
        width: 110px;
        height: 180px;
    }

    .slot.small,
    .slot.large,
    .slot.center {
        width: 110px;
        height: 180px;
    }
}

/* BINARY RAIN */
.binary-rain {
    position: absolute;
    inset: 0;

    overflow: hidden;
    pointer-events: none;

    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;

    color: rgba(0, 255, 140, 0.14);

    white-space: pre-wrap;
    word-break: break-all;

    padding: 20px;

    z-index: 0;
}
